body {
    background-color: #f7f2fa;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #333;
}

h1, h2, h3 {
    color: #5a2a83;
    font-weight: 600;
}

.container {
    max-width: 1400px;
}


.navbar-brand{
    color: #5a2a83;
}


.card {
    background-color: #fff;
    border: 1px solid #d6c6e1;
    box-shadow: 0 4px 12px rgba(90, 42, 131, 0.1);
    border-radius: 12px;
    padding: 2rem;
}


.form-label {
    font-weight: 500;
    color: #5a2a83;
}

.form-control, .form-select {
    border: 1px solid #c3b4d8;
    border-radius: 6px;
    padding: 10px;
}


.text-danger {
    font-size: 0.9rem;
    margin-top: 4px;
}


.btn {
    font-weight: 500;
    padding: 10px 20px;
    border-radius: 8px;
    transition: all 0.3s ease;
}


.btn-primary {
    background-color: #7a45b3;
    color: white;
    border: none;
}

.btn-primary:hover {
    background-color: #682da5;
}


.btn-outline-primary {
    border: 2px solid #7a45b3;
    color: #7a45b3;
    background-color: transparent;
}

.btn-outline-primary:hover {
    background-color: #7a45b3;
    color: white;
}


.btn-group {
    display: flex;
    gap: 10px;
    justify-content: flex-start;
    flex-wrap: wrap;
    margin-top: 1.5rem;
}


.text-start {
    text-align: left;
}

footer{
    color: #5a2a83;
}
